body{
    background-color:black;
}
/* .dark-background{
    background-image: url(../images/icons/dark-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
} */
.web-heading{
    font-family:"Prata",sans-serif;
    font-size:60px;
    font-weight: 400;
    color:#FFFFFF;
    padding-left: 0.5%;
}

.wecovered-heading{
    font-family:"Prata",sans-serif;
    font-size:40px;
    font-weight: 400;
    color: #878c8f !important;
    margin-left: 3%;
    padding-top: 2%;
}
.web-con{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    padding-top: 10%;
    /* margin-left: -60px; */
    padding-left: 11%;
    padding-right:11%;
}
.web-img{
    width:40%;
    height:auto;
}
.ordered-list {
    list-style: none;
    font-family: "Prata", sans-serif;
    font-size: 16px;
    padding-bottom: 2%;
    font-weight: 500;
    line-height: 30px;
    margin-left: 6%;
    position: relative;
}

.ordered-list::before {
    content: "";
    position: absolute;
    left: -20px; /* Adjust the position to align the symbol properly */
    top: 10px;
    height: 8px;
    width: 8px;
    background-color: rgb(224, 117, 39);
    transform: rotate(45deg);
}
.web-con2{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    margin: auto;
    justify-content: space-around;
}
