.branding-landing-div {
  display: flex;
}

.branding-landing-div > .branding-landing-content{
  width: 40%;
  text-align: justify;
}

.branding-landing-div > .promo-video-main-container{
  width: 60%;
  height: 100%;
}

.branding-landing-div > .promo-video-main-container > .promo-video-inner-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.branding-landing-div > .promo-video-main-container > .promo-video-inner-container > video{
  width: 70%;
  padding: 10px;
  border-radius: 5px;
  border: white 1px solid;
}



.branding-section{
  padding:5vh 2vh;
  /* overflow-x: hidden; */
  margin-top: 8vh;
  background-image: url('../images/icons/shape-6-1.png');
}

.branding-tabs{
  display:flex;
  justify-content: space-between;
  position: relative;
  z-index: 100;
}

.border-highlighted{
  border-width:3px 3px 3px 3px ;
  border-radius: 10px 10px 0 0;
  border-style: solid;
  border-color: white;
  background-color: rgba(224, 117, 39, 0.6);
  box-shadow: 0px -5px  10px rgba(255,255,255,0.5);
  color: white;
}

.main-tab-title-mobile{
  display: none;
}

/* .heading-highlighted{
  text-shadow: 0 0 2px white;
  transform:scale(1.1);
  transition-delay:0.5;
} */

.border-light{
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-width: thin;
  border-top-width: 0px;
  border-radius: 0 0 10px 10px;
}

.branding-tab-1{
  position: relative;
  margin: 0 1vh;
  padding: 2% 1%;
  width: 24%;
  text-align: center;
  transition: all 0.5s;
}

.branding-tab-1:hover{
  box-shadow: 0px 5px  5px white;
}

.branding-tab-1 > h4{
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  font-family: var(--title-font);
  /* text-shadow: 0 0 5px gray; */
}

.branding-tab-1>i{
  /* position: absolute;
  bottom: 2vh;
  left:50%; */
  float: right;
  font-size: 4vh;
}

.branding-contents{
  position: relative;
  width:100%;
  height: auto;
  /* overflow: hidden; */
}

.branding-content-1{
  margin: 0 1vh;
  /* position: absolute; */
  padding: 20px 40px;
  width:100%;
  height:100%;
  border:solid white;
  border-width: 3px;
  border-top-width: 0px;
  border-radius: 0 0 10px 10px;
  display:none;
  box-shadow: 0px 5px 10px rgba(255,255,255,0.5);
  /* overflow: hidden;
  overflow-y: scroll; */
}

/* brand consulting */

#content1{
  padding: 3vh;
}

.branding-inner-content-1{
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.branding-content-1 .branding-content-heading{
  height: auto;
  width: 97%;
  margin: auto;
}

.branding-content-1 .branding-content-heading h3{
  color:#e07527;
  font-size: 45px;
}

.branding-content-1 .branding-content-heading h3 span{
  position: relative;
  color: transparent;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
  display: inline-block;
}

.branding-content-1 .branding-content-para{
  height: auto;
  width: 97%;
  margin: auto;
}

.branding-inner-content-1 > .features-box{
  width: 50%;
  margin: 20px auto 40px;
}

.branding-inner-content-1 .features-list li{
  display: flex;
  margin: 10px;
  position: relative;
  padding-left: 30px;
  font-size: 19px;
  line-height: 30px;
  color: #878c8f;
  font-weight: 500;
  margin-bottom: 12px;
}

.branding-inner-content-1 .features-list li i {
  display: block;
  height: 10px;
  width: 10px;
  background-color: #e07527;
  transform: rotate(45deg);
  margin : auto 20px;

}

.branding-inner-content-1-clients{
  position: relative;
  height: 180px;
  width: 90%;
  margin: auto;
}

.branding-inner-content-1-clients .tag{
  position: absolute;
  left: -150px;
  top: 0;
  font-size: 17px;
  color: var(--theme-color3);
  font-weight: 500;
  line-height: 30px;
  padding: 5px 10px;
  letter-spacing: 0.5em;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform-origin: right top;
  transform-origin: right top;
  width: 160px;
  border: 1px solid #dce0e1;
  text-align: center;
}

.branding-inner-content-1-clients .clients-carousal{
  position: absolute;
  top:0;
  right: 0;
  width:90%;
  height: 100%;
  overflow: hidden;
}

.clients-carousel-item {
  height: 100%;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content:space-between;
}
.clients-carousel-info{
  height: auto;
  width: 90%;
  font-size: 13px;
}

.clients-carousel-item .clients-carousel-logo {
  height:auto;
  width: 30%;
  overflow: hidden;
  margin: auto;
}

.clients-carousel-item .clients-carousel-logo img{
  height: auto;
  width: 100%;
  margin: auto;
}

.img-bg{
  background-color: #fff;
  padding: 7px;
  border-radius: 3px;;
}




.branding-inner-content{
  margin: 0;
  width:100%;
  background-position: left;
  background-size: contain;
  background-repeat:no-repeat;
}
/*****************/
/* carousel */
/**************/


:root{
  --box-orange-shadow: 0 0 8px var(--theme-color-orange);
  --box-blue-shadow: 0 0 8px var(--theme-color2);

}

#content2 > .branding-inner-content > .logo-designing{
  display: flex;
  justify-content: space-between;
  margin: 20px 0 !important;
  padding:10px 20px;
  /* border: var(--theme-color-orange) solid 1px; */
  box-shadow:var(--box-orange-shadow);
  border-radius: 10px;
  height: 300px;
  transition: all 0.5s;
}

#content2 > .branding-inner-content > .logo-designing:hover{
  box-shadow:var(--box-blue-shadow);
}

#content2 > .branding-inner-content > .logo-designing > .logo-designing-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

#content2 > .branding-inner-content > .logo-designing > .logo-designing-content > .text{
  margin: 10px 0;
}

#content2 > .branding-inner-content > .title{
  color:#e07527;
  font-size: 45px;
}

#content2 > .branding-inner-content > .title > span{
  position: relative;
  color: transparent;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
  display: inline-block;
}

#content2 > .branding-inner-content > .graphic-content{
  margin: 20px auto;
}

#content2 > .branding-inner-content > .logo-designing > .logo-designing-content > h4{
  color: #cfcfcf;
  font-weight: 600;
}

#content2 > .branding-inner-content > .graphic-content > h4{
  color: #cfcfcf;
  font-weight: 600;
}

/* #content2 > .branding-inner-content > .graphic-content{
  margin-left: 30px;
} */

#content2 > .branding-inner-content > .logo-designing > .logo-samples-container{
  width: 200px;
  height: 150px;
  margin: 5% 5%;
  perspective: 800px;
}

#content2 > .branding-inner-content > .logo-designing > .logo-samples-container > .logo-cube-carousel{
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  position: relative;
  animation: logoAnimation 30s infinite linear;
  animation-delay: 1s;
}

#content2 > .branding-inner-content > .logo-designing > .logo-samples-container > .logo-cube-carousel > .logo-item{
  width: 100%;
  height: 100%;
  background-color: white;
  padding: 5%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  position: absolute;
}

#content2 > .branding-inner-content > .logo-designing > .logo-samples-container > .logo-cube-carousel > .logo-item:nth-child(1){
  transform: rotateY(0deg) translateZ(100px);
}

#content2 > .branding-inner-content > .logo-designing > .logo-samples-container > .logo-cube-carousel > .logo-item:nth-child(2){
  transform: rotateY(90deg) translateZ(100px);
}

#content2 > .branding-inner-content > .logo-designing > .logo-samples-container > .logo-cube-carousel > .logo-item:nth-child(3){
  transform: rotateY(0deg) translateZ(-100px) scaleX(-1);
}

#content2 > .branding-inner-content > .logo-designing > .logo-samples-container > .logo-cube-carousel > .logo-item:nth-child(4){
  transform: rotateY(-90deg) translateZ(100px);
}

#content2 > .branding-inner-content > .logo-designing > .logo-samples-container > .logo-cube-carousel > .logo-item:nth-child(5){
  transform: rotateX(90deg) translateZ(-100px) rotateZ(180deg) scaleX(-1);
}

#content2 > .branding-inner-content > .logo-designing > .logo-samples-container > .logo-cube-carousel > .logo-item:nth-child(6){
  transform: rotateX(90deg) translateZ(100px);
}

@keyframes logoAnimation {
  0%{
    transform: rotateX(0deg) rotateY(0deg);
  }
  2.5%{
    transform: rotateX(0deg) rotateY(0deg);
  }

  12.5%{
    transform: rotateX(0deg) rotateY(90deg);
  }
  16%{
    transform: rotateX(0deg) rotateY(90deg);
  }

  26%{
    transform: rotateX(0deg) rotateY(180deg);
  }
  28.5%{
    transform: rotateX(0deg) rotateY(180deg);
  }

  38.5%{
    transform: rotateX(0deg) rotateY(270deg);
  }
  41%{
    transform: rotateX(0deg) rotateY(270deg);
  }

  51%{
    transform: rotateX(0deg) rotateY(360deg);
  }
  53.5%{
    transform: rotateX(0deg) rotateY(360deg);
  }

  61.5%{
    transform: rotateX(90deg) rotateY(360deg);
  }
  66%{
    transform: rotateX(90deg) rotateY(360deg);
  }

  76%{
    transform: rotateX(-90deg) rotateY(360deg);
  }
  78.5%{
    transform: rotateX(-90deg) rotateY(360deg);
  }

  88.5%{
    transform: rotateX(0deg) rotateY(360deg);
  }
  100%{
    transform: rotateX(0deg) rotateY(360deg);
  }

}

#content2 > .branding-inner-content > .graphic-content > .graphic-content-points{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  width: 90%;
}

#content2 > .branding-inner-content > .graphic-content > .graphic-content-points > .features-box > .features-list li{
  display: flex;
  position: relative;
  font-size: 19px;
  line-height: 30px;
  color: #878c8f;
  font-weight: 500;
  margin-bottom: 12px;
}

#content2 > .branding-inner-content > .graphic-content > .graphic-content-points > .features-box > .features-list li i {
  display: block;
  height: 10px;
  width: 10px;
  background-color: #e07527;
  transform: rotate(45deg);
  margin : auto 10px;
}

#content2 > .branding-inner-content > .broucher-poster-designing{
  display: flex;
  justify-content: space-between;
  grid-gap: 20px;
}

#content2 > .branding-inner-content > .broucher-poster-designing > .broucher-content-container, #content2 > .branding-inner-content > .broucher-poster-designing > .poster-content-container{
  width: 50%;
  padding: 20px;
  margin: 10px;
  box-shadow: var(--box-orange-shadow);
  border-radius: 10px;
  transition: all 0.5s;
}

.broucher-content-container > .text{
  margin-bottom: 20px;
}

#content2 > .branding-inner-content > .broucher-poster-designing > .broucher-content-container:hover, #content2 > .branding-inner-content > .broucher-poster-designing > .poster-content-container:hover{
  box-shadow: var(--box-blue-shadow);
}

#content2 > .branding-inner-content > .broucher-poster-designing > .broucher-content-container >h4, #content2 > .branding-inner-content > .broucher-poster-designing > .poster-content-container >h4{
  color: #cfcfcf;
  font-weight: 600;
}

.broucher-samples-container, .poster-samples-container{
  height: 70vh;
  width: 100%;
  display: flex;
  align-items: center;
}

.poster-samples-container {
  width: 35vw;
  margin: auto;
}

.broucher-samples-container > .broucher-flip-book-carousel{
  width: 90%;
  margin: auto;
  position: relative;
  display: flex;
}

.poster-samples-container > .poster-carousel{
  height: 100%;
  width: 100%;
  padding: 6%;
}

.poster-samples-container > .poster-carousel > .slick-list, .poster-samples-container > .poster-carousel > .slick-list > .slick-track{
  width: 100%;
  height: 100%;
}

.poster-carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

 .poster-carousel-item > img{
  height: 100%;
  width:auto;
}

#content2 > .branding-inner-content > .graphic-content > .many-more-container > .many-more-text{
  color: var(--theme-color2);
  margin-left: 10px;
  transition: all 0.5s;
}

#content2 > .branding-inner-content > .graphic-content > .many-more-container > .many-more-text:hover{
  color: var(--theme-color-orange);
  margin-left: 10px;
}

#content2 > .branding-inner-content > .graphic-content > .many-more-container > .many-more-text > span{
  position: relative;
  color: transparent;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: var(--theme-color-orange);
  display: inline-block;
}

/* flip animartions */


#cover1{
	width: 50%;
	height: 100%;
}
.flip-book{
	width: 50%;
	/* height: 100%; */
	position: relative;
	perspective: 1500px;
}
.flip{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transform-origin: left;
	transform-style: preserve-3d;
	transform: rotateY(0deg);
	transition: 0.5s;
	color: #000;
}

.front{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	box-sizing: border-box;
	padding: 0;
}
.back{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 99;
	transform: rotateY(180deg);
	backface-visibility: hidden;
	background: #000;
}

.front > img, .back > img , #cover1>img , #cover2>img, #cover3>img{
    height: 100%;
    width: 100%;
}

#page1{
	z-index: 6;
}
#page2{
	z-index: 5;
}
#page3{
	z-index: 4;
}
#page4{
  z-index: 3;
}
#page5{
	z-index: 2;
}
#page6{
	z-index: 1;
}
#page7{
  z-index: 0;
}



/* brand content 3 */

#content3{
  padding: 0 40px;
}

#content3 > .branding-inner-content {
  margin: 30px auto;
  width: 60%;
  overflow-y: scroll;
}

#content3 > .branding-inner-content > .features-box > h4{
  color:#cfcfcf;
  font-family: var(--title-font-two);
  font-weight: 500;
  margin: 10px;
}

#content3 > .branding-inner-content > .features-box > .features-list li{
  display: flex;
  position: relative;
  font-size: 19px;
  line-height: 30px;
  color: #878c8f;
  font-weight: 500;
  margin-bottom: 12px;
}

#content3 > .branding-inner-content > .features-box > .features-list li i {
  display: block;
  height: 10px;
  width: 10px;
  background-color: #e07527;
  transform: rotate(45deg);
  margin : auto 10px;

}

#content3 > .branding-inner-content > .title{
  color:#e07527;
  font-size: 45px;
}

#content3 > .branding-inner-content > .title > span{
  position: relative;
  color: transparent;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
  display: inline-block;
}


.branding-samples3{
  
  width: 50%;
  padding: 2vh;
}

.branding-samples3 > .marketing-service{
  width: 90%;
  margin: 30px auto;
  text-align: center;
  padding: 20px;
  font-size: 25px;
  color: var(--theme-color2);
  border: solid 1px #e7e8e9;
  font-family: var(--title-font);
  transition: all 0.5s;
}

.branding-samples3 > .marketing-service:hover{
  border: 0;
  box-shadow: 0 0 10px #e7e8e9 ;
  color: #e07527;
}


/* .column1{
  display: flex;
  flex-direction: column;
  width:65%;
  height: 100%
}
.mar1 , .mar3{
  height: 65%;
  width:100%;
  overflow: hidden;
  padding: 2.5vh;
}
.mar2, .mar4{
  height: 33%;
  width:100%;
  margin-top: 0.8vh;
  overflow: hidden;
  padding: 2.5vh;
}

.mar1>img,.mar2>img,.mar3>img,.mar4>img{
  border-radius: 10px;
}

.column2{
  display: flex;
  flex-direction: column;
  width: 33%;
  height: 100%
} */


/* brand content 4 */

#content4{
  flex-direction: column;
}

#content4 > .branding-inner-content{
  margin: 20px auto ;
  width: 100%;
}

#content4 > .branding-inner-content > .title{
  color:#e07527;
  font-size: 45px;
}

#content4 > .branding-inner-content > .title > span{
  position: relative;
  color: transparent;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
  display: inline-block;
}


.branding-samples4{
  width: 90%;
  margin: auto;
  text-align: center;
  padding: 4vh 0vh;
  flex-direction: column;
  background-image: url("../images/icons/icon-quote.png");
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
}

.branding-samples4>h4{
  font-size: 5vh;
  font-weight: 600;
  text-shadow: 0 0 3px white;
}

.scrolling-container {
  height: auto;
  overflow: hidden;
  margin:10vh;
}
/* 
.scrolling-content {
  animation: scroll-up 30s linear infinite;
} */


.link{
  color: white;
  font-size: 3vh;
  font-family: var(--text-font);
  font-weight: var(--body-font-weight);
  line-height: 6vh;
}


::-webkit-scrollbar {
  width: 1px;
}


/********************/
/* Animations */
/*******************/

.move-in-down{
  animation: moveInDown 0.8s;
}

.move-out-up{
  animation: moveOutUp 0.8s;
}

@keyframes moveInDown {
  0%{
    transform: translateY(-100%);
    opacity: 0;
    /* transform: scale(0.5); */
  }

  100%{
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes moveOutUp {
  0%{
    transform: translateY(0);
    opacity: 1;
  }
  100%{
    transform: translateY(-100%);
    opacity: 0;
    /* transform: scale(0.5); */
  }
}

@keyframes scroll-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}


/****************/
/*tablet Responcive*/
/***************/

@media screen and (max-width:768px) {
  .branding-section{
    padding:0;
    width:100%;
    overflow-x:visible;
  }
  .branding-tab-1{
    margin:0;
  }
  .branding-tab-1>h4{
    font-size: 1.1rem;
    font-weight: 300;
    margin: 0;
  }
  .branding-tab-1>i{
    font-size: 2vh;
  }
  .branding-content-1{
    flex-direction: column;
    padding: 2vh 2vh 5vh 2vh;
    margin:0;
  }

  #content2 > .branding-inner-content > .logo-designing > .logo-designing-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    padding: 0 4% 0 0;
}

  #content2 > .branding-inner-content > .logo-designing > .logo-samples-container{
    margin: 10% 5%;
  }

  .broucher-samples-container, .poster-samples-container{
    height: auto;
    margin: 20px auto;
  }

  #content2 > .branding-inner-content > .broucher-poster-designing > .broucher-content-container, #content2 > .branding-inner-content > .broucher-poster-designing > .poster-content-container{
    margin: 0;
  }

  .branding-samples2{
    width: 100%;
    height: 50vh;
  }
  .branding-inner-content, .branding-samples,.branding-samples3,.branding-samples4{
    width: 100%;
  }
  .branding-tab-1:hover{
    box-shadow: 0px 0px  0px white;
  }
  .text{
    text-align: justify;
  }

  #content1{
    padding: 0;
    /* height: 67vh; */
  }

  .branding-content-1 .branding-content-heading{
    height: auto;
  }

  .branding-content-1 .branding-content-heading h3{
    height: auto;
  }

  .branding-content-1 .branding-content-para{
    height: auto;
    text-align: justify;
  }

  .branding-inner-content-1{
    display: block;
    height: auto;
  }

  .branding-inner-content-1 > .features-box {
    width: 90%;
    margin-top: 10px;
  }

  .branding-inner-content-1 .features-list li{
    margin:0;
    padding-left: 0;
    font-size: 17px;
  }

  .branding-inner-content-1 .features-list li i{
    height: 7px;
    width: 7px;
  }

  .branding-inner-content-1-clients{
    height: 400px;
    margin-top: 5vh;
  }

  .branding-inner-content-1-clients .tag{
    transform: rotate(0deg);
    top: 0;
    left: 0;
    margin: auto;
    position: relative;
  }

  

  .branding-inner-content-1-clients .clients-carousal{
    position: relative;
    width: 100%;
    margin-top: 20px;
  }

  .clients-carousel-item{
    padding: 0;
    display: block;
  }

  .clients-carousel-info{
    font-size: small;
  }

  .clients-carousel-item .clients-carousel-logo{
    width: 30%;
    height: auto;
  }

  /* .branding-contents{
    overflow: scroll;
  } */

  /* #content2{
    height: auto;
    overflow-y: scroll;
  } */

  #content2 > .branding-inner-content{
    overflow-y:visible;
    height: auto;
    margin: auto;
    flex-direction: column;
  }

  .branding-samples2-inner {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: auto;
    height: 90%;
    padding-bottom: 5px;
}

  #content3{
    padding:0;
  }

  #content3 > .branding-inner-content{
    overflow-y: visible;
    width: 90%;
    margin: auto
  }

  .branding-samples3 > .marketing-service{
    font-size: 15px;
  }

  #content4 > .branding-inner-content{
    margin:0;
    width: 100%;
  }

  #content4 > .branding-inner-content > .title{
    font-size: 42px;
  }

  .scrolling-container{
    margin: 0;
  }
  
  .scrolling-content-websites > p >a{
    font-size: 20px;
  }
}

/****************/
/*mobile Responcive*/
/***************/


@media screen and (max-width:530px){
  .clients-carousel-item .clients-carousel-logo{
    width: 60%;
    height: auto;
  }

  .branding-landing-div {
    display: flex;
    flex-direction: column-reverse;
  }

  .branding-landing-div > .promo-video-main-container{
    height: 100%;
    width: 100%;
  }

  .branding-landing-div > .branding-landing-content{
    width: 100%;
  }
  
  .branding-landing-div > .promo-video-main-container > .promo-video-inner-container > video{
    width: 100%;
  }

  .branding-samples2-inner {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    margin:auto;
    height: 90%;
    padding-bottom: 5px;
  }

  .branding-samples2-inner > .carousel{
    width: 45%;
    margin: 0;
  }

  .large-container{
    padding: 0 10px;
  }

  .main-tab-title-mobile{
    display: block;
  }

  .main-tab-title-mobile > .main-heading{
    font-size: 2rem;
    font-family: var(--title-font);
    color: var(--theme-color2);
    text-align: center;
    /* -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: var(--theme-color2); */
    border-color: var(--theme-color-orange);
    border-width: 3px 0;
    border-style: solid;
    padding: 15px;
    font-weight: 700;
    border-radius: 10px;
  }

  .branding-content-1{
    display: flex !important;
  }
  .branding-tabs{
    display: none;
  }

  .branding-content-1{
    box-shadow: none;
    border: 0;
  }

  #content2 > .branding-inner-content > .title{
    font-size: 30px;
  }

  #content2 > .branding-inner-content > .logo-designing{
    flex-direction: column;
    height: auto;
    padding: 10px;
  }

  #content2 > .branding-inner-content > .logo-designing > .logo-samples-container {
    margin: 25% auto;
    width: 150px;
  }

  #content2 > .branding-inner-content > .logo-designing > .logo-designing-content{
    width: 100%;
  }

  #content2 > .branding-inner-content > .broucher-poster-designing{
    flex-direction: column;
  }
  #content2 > .branding-inner-content > .broucher-poster-designing > .broucher-content-container, #content2 > .branding-inner-content > .broucher-poster-designing > .poster-content-container{
    width: 100%;
    padding: 20px 10px;
  }
  .broucher-samples-container, .poster-samples-container{
    width: 100%;
  }
  #content2 > .branding-inner-content > .graphic-content > .many-more-container > .many-more-text{
    font-size: 2rem;
  }

  .branding-content-1 .branding-content-heading h3{
    font-size: 30px;
  }

  .clients-carousel-item{
    height: 100%;
  }

  .branding-inner-content-1-clients .clients-carousal{
    height: 80%;
  }

  #content3 > .branding-inner-content > .title{
    font-size: 30px;
  }

  .branding-content-1 .branding-content-heading, .branding-content-1 .branding-content-para{
    width: 100%;
  }

  #content1{
    padding: 20px;
    box-shadow: var(--box-blue-shadow);
    border-radius: 10px;
    margin: 20px auto;
    width: 95%;
  }

  .branding-inner-content-1-clients{
    width: 100%;
    height: 500px;
  }

  #content3{
    box-shadow: var(--box-orange-shadow);
    border-radius: 10px;
    padding: 10px;
    width: 95%;
    margin:20px auto;
  }

  #content4 > .branding-inner-content > .title{
    font-size: 30px;
  }

  #content4{
    box-shadow: var(--box-blue-shadow);
    border-radius: 10px;
    padding: 10px;
    width: 95%;
    margin:20px auto;
  }

  #content1, #content2, #content3, #content4{
    animation: none ;
  }
}
