RewriteEngine on

# Redirect to https://www.reymould.com
RewriteCond %{HTTPS} off [OR]
RewriteCond %{HTTP_HOST} !^www\.reymould\.com$ [NC]
RewriteRule ^(.*)$ https://www.reymould.com/$1 [L,R=301]

#Rewrite Condition for Directory
RewriteCond %{REQUEST_FILENAME} !-d

#Rewrite Condition for File
RewriteCond %{REQUEST_FILENAME} !-f

#Rewrite Rule
RewriteRule ^([^\.]+)$ $1.html [NC,L] 

Options -Indexes

# This rule alow user to access file
RewriteCond %{REQUEST_FILENAME} !-f
#=============================================================================================================
#
